.layout {
  display: grid;
  grid-template-columns: 18rem 1fr;
  grid-template-rows: auto 1fr;
  block-size: 100vh;
}

.header {
  background: linear-gradient(var(--card-bg-start), var(--card-bg-end));
  border: 1px solid var(--border-default);

  padding-block: 1.2rem;
  padding-inline: 4.8rem;

  display: flex;
  gap: var(--space-6);
  align-items: center;
  justify-content: flex-end;
}

html[dir="rtl"] .logoutIcon {
  rotate: 180deg;
}

.wrapper {
  display: flex;
  gap: var(--space-4);
  align-items: center;
  font-weight: 500;
  font-size: var(--font-size-sm);
  color: var(--text-primary);
}

.avatar {
  display: block;
  width: 2.6rem;
  aspect-ratio: 1;
  object-fit: cover;
  object-position: center;
  border-radius: 50%;
  outline: 2px solid var(--border-default);
}

.headerMenu {
  display: flex;
  align-items: center;
  gap: var(--space-3);

  li {
    cursor: pointer;
  }
}

.sidebar {
  background: linear-gradient(var(--card-bg-start), var(--card-bg-end));
  border: 1px solid var(--border-default);
  grid-row: 1 / -1;

  padding-block: 3.2rem;
  padding-inline: 3.4rem;

  display: flex;
  flex-direction: column;
  gap: var(--space-8);
}

.main {
  display: flex;
  flex-direction: column;
  min-block-size: 0;
  padding-block: 2rem;
  padding-inline: 3.8rem;
}

.container {
  max-width: 120rem;
  margin-inline: auto;

  display: flex;
  flex-direction: column;
  flex: 1;
  min-height: 0;
  gap: var(--space-8);
}

.container > * {
  display: flex;
  flex-direction: column;
  flex: 1;
  min-height: 0;
}
