.layout {
  display: grid;
  grid-template-columns: 20rem 1fr;
  grid-template-rows: auto 1fr;
  block-size: 100vh;
}

.header {
  background: linear-gradient(var(--card-bg-start), var(--card-bg-end));
  border: 1px solid var(--border-default);

  padding-block: 1.2rem;
  padding-inline: 4.8rem;

  display: flex;
  gap: var(--space-4);
  align-items: center;
  justify-content: flex-end;
}

html[dir="ltr"] .logoutIcon {
  rotate: 180deg;
}

.sidebar {
  background: linear-gradient(var(--card-bg-start), var(--card-bg-end));
  border: 1px solid var(--border-default);
  grid-row: 1 / -1;

  padding-block: 3.2rem;
  padding-inline: 3.4rem;

  display: flex;
  flex-direction: column;
  gap: var(--space-8);
}

.main {
  padding-block-start: 4rem;
  padding-block-end: 6.4rem;
  padding-inline: 4.8rem;
}

.container {
  max-width: 120rem;
  margin-inline: auto;

  display: flex;
  flex-direction: column;
  gap: var(--space-8);
}
